@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  text-align: center;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.contador {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .btn-menos, .btn-mas {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    background: #f0f0f0;
    cursor: pointer;
    border-radius: 4px;
    font-size: 18px;
  }
  
  .btn-menos:hover, .btn-mas:hover {
    background: #e0e0e0;
  }
  
  .numero {
    min-width: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }
